@import '../../../style/fonts.scss';
@import '../../../style/colors.scss';
@import '../../../style/breakpoints.scss';

.post-card-container {
  margin-bottom: 20px;

  padding: 20px 20px 20px 0px;

  display: flex;
  flex-direction: row;

  border-radius: 30px;
  background-color: $surface;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &.dark {
    background-color: $surface_dark;
    box-shadow: unset;
  }

  .post-card-content-left {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .post-card-content-right {
    display: flex;
    flex-direction: column;
    flex: 5;

    overflow: hidden;

    .post-metadata {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding-top: 5px;
      padding-bottom: 5px;

      .full-name {
        font-weight: bold;
        font-size: large;
        margin-right: 10px;
      }
      .username {
        font-size: medium;
        color: $primary;
        margin-left: 10px;
        margin-right: 10px;
      }
      .timestamp {
        font-size: medium;
        color: $dark_gray;
        margin-left: 10px;
      }
    }
    .post-main-data {
      display: flex;
      flex-direction: column;
      .title {
        font-size: $large;
        font-weight: bold;

        margin-bottom: 5px;

        @include fold {
          font-size: $large-fold;
        }
      }
      .content {
        font-size: $medium;

        @include fold {
          font-size: $medium-fold;
        }
      }
    }
  }
}
