@import '../../../style/colors';
@import 'src/style/breakpoints';

.chat-card-container {
  height: 85vh;
  display: flex;
  flex-direction: column;

  width: 100%;
  border-radius: 30px;
  overflow: hidden;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  @include fold {
    height: 76vh;
  }

  &.dark {
    box-shadow: unset;
  }

  .scroll-div {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

    overflow: scroll;

    flex: 1;
    background-color: $surface;
    &.dark {
      background-color: $surface_dark;
    }

    .dummy-div {
      background-color: red;
      width: 1px;
      height: 1px;
    }
  }

  .input-message {
    padding: 30px;
    min-height: 100px;
    height: fit-content;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    background-color: $input;
    &.dark {
      background-color: $input_dark;
      color: $font_dark;
    }
  }
}
