@import '../../../style/colors';
@import '../../../style/breakpoints';
@import '../../../style/fonts';

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $background_transparent_dark;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    border: 1px solid;
    border-color: $primary_darker;
    background-color: $surface_dark;
    width: 30vw;
    height: 35vh;
    border-radius: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    @include fold {
      width: 85vw;
    }

    .modal-button {
      padding: 15px 25px;
      font-size: $medium;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: $primary_darker;
      border: none;
      border-radius: 15px;

      &.modal-button:active {
        background-color: $primary;
      }
      &.modal-button:disabled {
        background-color: $gray;
      }
    }
    .input {
      color: $font_dark;
      background-color: unset;
      border: unset;
      border-bottom: 2px solid;
      border-bottom-color: $gray;
      width: 70%;
      font-size: $medium;
      padding-bottom: 5px;
      padding-left: 15px;
      &:focus {
        outline: none;
        border-bottom-color: $primary_darker;

        @include placeholder {
          color: $primary_darker;
        }
      }
    }
  }
}
