@import '../../../style/colors';
@import '../../../style/fonts';
@import 'src/style/breakpoints';

.message-container {
  margin-bottom: 20px;
  padding: 15px;

  width: 100%;

  border-radius: px;
  // background-color: $input;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  border-bottom: 1px solid $primary_darker;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &.self {
    align-items: flex-start;
  }

  .message-username {
    font-size: $medium;
    color: $secondary;

    &.self {
      color: $primary;
    }
  }
  .message-text {
    margin-top: 10px;
    font-size: $medium;
  }
  .message-timestamp {
    margin-top: 20px;
    font-size: $small;
    color: $dark_gray;
  }
}
