@import '../../../style/colors.scss';
@import './../../../style/fonts.scss';
@import 'src/style/breakpoints.scss';

.header {
  height: 70px;
  min-width: 1080px;
  position: sticky;
  top: 0;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;

  .logo {
    font-size: $large;
  }

  @include fold { 
    min-width: unset;
    width: 100vw;
  }
}
