@import '../../../style/colors';
@import 'src/style/breakpoints';

.card {
  overflow: hidden;
  width: 100%;

  background-color: $surface;
  box-shadow: 0px 0px 20px $primary;
  transition: 0.3s;
  border-radius: 30px;

  margin-bottom: 50px;

  &.dark {
    background-color: $surface_dark;
  }

  &.secondary { 
    box-shadow: 0px 0px 20px $secondary;
    &.dark {
      box-shadow: 0px 0px 20px $secondary_dark;
    }
  }

  @include fold { 
    width: 80vw;

  }
}
