// Colors
$background: ghostwhite;
$surface: #EFEFEF;
$input: #EAEAEA;
$primary: #00B2FF;
$secondary: rgba(206, 0, 210, 0.7);

$background_dark: #082032;
$surface_dark: #2C394B;
$input_dark: #334756;
$font_dark: ghostwhite;