// Colors
$background: ghostwhite;
$surface: #efefef;
$input: #eaeaea;
$primary: #00b2ff;
$primary_darker: #005e87;
$secondary: rgba(206, 0, 210, 0.7);

$background_dark: #082032;
$surface_dark: #2c394b;
$input_dark: #334756;
$font_dark: ghostwhite;
