@import '../../../style/colors.scss';
@import '../../../style/fonts.scss';
@import '../../../style/breakpoints.scss';

.timestamp {
  text-decoration: underline;

  margin-left: 5px;
  font-size: medium;
  color: $dark_gray;

  @include fold {
    font-size: small;
  }
}
