@import './style/colors';
@import './style/breakpoints';
@import './style/fonts';

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &.dark {
    background-color: $background_dark;
    color: $font_dark;
  }
  p {
    margin: unset;
    padding: unset;
  }
  .screen-container {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;

    padding-left: 20vw;
    padding-right: 20vw;
    @include fold {
      padding-left: unset;
      padding-right: unset;
    }
  }
}
