@import './style/colors';
@import './style/breakpoints';

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &.dark {
    background-color: $background_dark;
    color: $font_dark;
  }
  p {
    margin: unset;
    padding: unset;
  }
}

.screen-container {
  overflow-y: hidden;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.padding-div {
  width: 20vw;
  min-width: 50px;
  @include fold {
    display: none;
  }
}
