@import '../../../style/colors.scss';
@import '../../../style/fonts';

.new-post-card-container {
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  &.dark {
    box-shadow: unset;
  }
  .new-post-text {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/

    flex: 1;
    padding: 30px;
    padding-bottom: 10px;
    background-color: $input;
    color: black;
    font-size: $small;

    &.dark {
      background-color: $input_dark;
      color: ghostwhite;
      box-shadow: unset;
    }
  }
}
